@using AtaturkAirport.Models;

@{
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Section</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>
    <p>Please select which type of flight!</p>
    <div>
        <div class="card-deck mb-3 text-center">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Add Cargo Flight</h4>
                </div>
                <div class="card-body">
                    <button id="button" type="button" class="btn btn-lg btn-block btn-primary">Add Cargo Flight</button>
                    <script type="text/javascript">
                        document.getElementById("button").onclick = function () {
                            location.href = "/AddFlight/AddCargoFlight";
                        };
                    </script>
                </div>
            </div>
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Add Passenger Flight</h4>
                </div>
                <div class="card-body">
                    <button id="button" type="button" class="btn btn-lg btn-block btn-primary">Contact us</button>
                    <script type="text/javascript">
                        document.getElementById("button").onclick = function () {
                            location.href = "/AddFlight/AddPassengerFlight";
                        };
                    </script>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
