@using AtaturkAirport.Models;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HomePage</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.4/examples/carousel/">
    <style>
        .featurette-heading{
            margin-top: 7rem;
        }
    </style>
</head>
<body>
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Welcome to Ataturk Airport<br><span class="text-muted">Flying with you.</span></h2>
            <p class="lead"></p>
        </div>
        <div class="col-md-5">
            <img src="~/airport_img.jpg" class="img-thumbnail">
        </div>
    </div>
   
</body>
</html>